.show-place {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.container-place {
  margin-right: 20px;
  flex-grow: 2;
}

.place-image {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}
