<div class="footer col-12">
    <div>
      <ul class="inline-list">
        <li>
          <a href="#" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
      </ul>
      <p>Copyright &copy; WorkSpot 2022</p>
    </div>
</div>
