.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2C2B2B;
  background-size: cover;
  height: 200px;
  text-align: center;
}

.footer p {
  margin: 0;
  color: rgb(160, 160, 160);
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

.footer a {
  margin: 0;
  color: rgb(160, 160, 160);
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

.footer a:hover{
  font-size: 26px;
  font-weight: 400;
  color: $pink;
}

.inline-list {
  list-style: none;
  padding-inline-start: 0px;
}

.inline-list li {
  display: inline-block;
  padding: 0px 5px;
}
