<div class="container pt-5">
<h1 strong center><%= @place.name %></h1>
<blockquote class="blockquote border-start border-5 ps-3 mt-3">
  <p><%= @place.address %></p>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Dirección</cite>
  </figcaption>
</blockquote>

<div class="container m-3 border-start border-5">
      <%= link_to 'Edit', edit_place_path, class: 'btn btn-primary' %>
    </div>
